$color_primary: #C4A464;
$color_secondary: #FF6B1D;

.color-primary{
    color: $color_primary;
}
.color-secondary{
    color: $color_secondary;
}

body{
    color:#5C504B;font:14px/1.8 'Noto Sans JP', sans-serif;
}
ul{list-style:none;padding:0;margin-bottom:0}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{line-height:normal;}
p{
    margin-bottom: 0;
}
a{text-decoration:none;-webkit-transition-duration:0.4s;-o-transition-duration:0.4s;transition-duration:0.4s;}
a:hover{text-decoration:none;}
img{
    max-width: 100%;
}


/**/
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed{position:absolute;top:0;left:0;width:100%;height:100%;}

/* Text truncate */
.text__truncate{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.text__truncate.-n2{-webkit-line-clamp:2;}
.text__truncate.-n3{-webkit-line-clamp:3;}
.text__truncate.-n4{-webkit-line-clamp:4;}

/*Effect*/
.ef--zoomin .el__thumb img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease;transition:.3s ease}
.ef--zoomin:hover .el__thumb img{-webkit-transform:scale(1.1);transform:scale(1.1)}

/*Fix image trong khung*/
.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}

/*button*/
.btn{
    font-family: 'Noto Serif JP', serif;
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    padding: 14px 16px;
    border-color: transparent;
    border-radius: 0;
    min-width: 190px;
    background-color: transparent;
    color: #524945;
    letter-spacing: 1px;
    transition: all 1s;
    overflow: hidden;
    &:hover{
        background-color: #524945;
        border-color: #524945;
        color: #fff;
    }
    span{
        position: relative;
    }


    @media ( max-width: 1299px ) {

    }
    @media ( max-width: 575px ) {

    }
}

/* Fade CSS */
.flickity--fade {
    >.flickity-viewport>.flickity-slider{
        transform: none !important;
        >.slider__item__wrap{
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            left: 0 !important;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            z-index: -1;
            &.is-selected {
              opacity: 1;
              z-index: 0
            }
        }
    }

}


/*Custom boostrap*/
.maxw-1000{
    max-width: 1000px;
}
@media (min-width:992px){
    .col-lg-14{
        width: 14%;
    }
    .col-lg-30{
        width: 30%;
    }
    .col-lg-40{
        width: 40%;
    }
    .col-lg-44{
        width: 44%;
    }
    .col-lg-45{
        width: 45%;
    }
    .col-lg-55{
        width: 55%;
    }
    .col-lg-60{
        width: 60%;
    }
    .gx-lg-50{
        --bs-gutter-x: 50px;
    }
}
@media (min-width: 1200px){
    .container-1000{
        max-width: 1024px;
    }
    .gx-xl-40{
        --bs-gutter-x: 40px;
    }
    .gx-xl-50{
        --bs-gutter-x: 50px;
    }
    .gx-xl-80{
        --bs-gutter-x: 80px;
    }
    .gx-xl-100{
        --bs-gutter-x: 100px;
    }
    .col-md-20{
        width: 20%;
    }
}
@media ( min-width: 1300px ) {
    .container {
        max-width: 1224px;
    }
}
@media ( min-width: 1400px ) {
    .gx-xxl-50{
        --bs-gutter-x: 50px;
    }
    .gx-xxl-100{
        --bs-gutter-x: 100px;
    }
    .container-1400{
        max-width: 1324px;
    }
}
@media ( min-width: 1500px ) {
    .container-1400{
        max-width: 1424px;
    }
}

@media ( min-width: 1700px ) {
    .container-1600{
        max-width: 1624px;
    }
}
