.sc-footer{
    padding: 70px 0 20px;
    background-color: #3B3330;
    font-size: 16px;
    color: #FFFFFF;
    a{
        color: #FFFFFF;
    }
    .el-title{

    }
    &__menu{
        margin-bottom: 30px;
        font-size: 14px;
        letter-spacing: 1px;
        >li{
            >a{
                font-size: 16px;
                text-align: center;
                padding: 0 0 8px;
                border-bottom: 1px solid #FFFFFF;
                margin-bottom: 20px;
            }
        }
        li{
            position: relative;


            &.active{
                &>a{
                    color: $color_primary;
                }
            }
        }
        a{
            position: relative;
            display: block;
            color: #fff;
            &:before{
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: #e5cc37;
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                &:before{
                    width: 100%;
                }
            }
        }
        .sub-menu{
            >li{
                >a{
                    font-size: 16px;
                    text-align: center;
                    padding: 0 0 8px;
                    border-bottom: 1px solid #FFFFFF;
                    margin-bottom: 20px;


                }
            }
            &.-st2{
                a{
                    text-align: left;
                    border: 0;
                    margin-bottom: 0;
                    padding: 0;
                    font-size: 14px;
                    &:before{
                        display: none;
                    }
                    &:hover{
                        color: #e5cc37;
                    }
                }
                ul{
                    li{
                        margin-bottom: 10px;
                        padding-left: 15px;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 9px;
                            left: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #E5CC37;
                        }
                    }
                }
            }
        }

    }
    .el-copyright{
        margin-top: 20px;
        border-top: 1px solid #fff;
        padding-top: 20px;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
    }



    
    @media ( max-width: 1299px ) {

    }
    @media ( max-width: 1199px ) {

    }
    @media ( max-width: 991px ) {

    }
    @media ( max-width: 767px ) {

    }
    @media ( max-width: 483px ) {

    }
}
